<div class="row">
  <div class="col-lg-6">
    <h1 class="fw-bold mt-2 mb-3">Vehicles Types</h1>
  </div>
  <div class="col-lg-6 text-end">
    <%= link_to 'Add new vehicle type', new_admin_vehicle_type_path, class: "btn btn-primary mt-2 mb-2" %>
  </div>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>  
    </tr>
  </thead>
  <tbody>
    <% @vehicle_types.each do |vehicle_type| %>
      <tr>
        <td>
          <%= link_to admin_vehicle_type_path(vehicle_type), class: 'text-decoration-none' do %>
            <%= vehicle_type.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
